body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.bg-image {
    /* The image used */
    background-color: white;
    
    
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely
    background-position: ;
    background-repeat: ;
    background-size: ; */
}
.bg-image > img {
    /* opacity: 0.9; */
    object-fit: cover;
    object-position: center ;

    /* Add the blur effect */
    filter: blur(1.5rem);
    -webkit-filter: blur(1.5rem);
}

/* #bg-image {
    height: 100%;
    width: 100%;
    background: top /cover url(../images/avatar.png);
    filter: blur(1.5rem);
} */

#profile {
    position: absolute;
    width: 152px;
    height: 162px;
    left: 66px;
    top: 33px;
    background: center / cover url("../images/avatar.png");
    border-radius: 50%;
}

#msg {
    position: absolute;
    width: 162px;
    height: 162px;
    right: 66px;
    top: 33px;
    background: center / 65% no-repeat url("../images/msg.png"), white;
    border-radius: 50%;
}